* {
    margin: 0;
    padding: 0;
}


.container{
    width: 60vw;
    position: relative;
    margin: auto;
    transition: all .3s;
}
@media only screen and (max-width:800px){
    .container{
        width: 100%;
        /* margin: auto; */
    }
}